<section class="thirteen columns">
	<h1>Education</h1>
	<article>
		<header>
		<h1>PhD Candidate in Machine Learning</h1>
		<span>Technical University of Graz</span>
		<span><address>Graz, Austria</address><time>11/2015 to present</time></span>
		</header>
	</article>
	<article>
		<header>
		<h1>Dipl.Ing. in Computational Intelligence</h1>
		<span>Technical University of Vienna</span>
		<span><address>Vienna, Austria</address><time>08/2009 to 01/2014</time></span>
		</header>
	</article>
	<article>
		<header>
		<h1>BSc in Computer Science</h1>
		<span>University of Applied Sciences Technikum Wien</span>
		<span><address>Vienna, Austria</address><time>08/2006 to 04/2009</time></span>
		</header>
	</article>
</section>
