<section class="thirteen columns">
	<h1>Education</h1>
	<article>
		<header>
		<h1>PhD Candidate in Machine Learning</h1>
		<span><a href="https://www.tugraz.at/">Technical University of Graz</a></span>
		<span><address>Graz, Austria</address><time>11/2015 to present</time></span>
		</header>
	</article>
	<article>
		<header>
		<h1>Dipl.Ing. in Computational Intelligence</h1>
		<span><a href="http://www.tuwien.ac.at/en/">Technical University of Vienna</a></span>
		<span><address>Vienna, Austria</address><time>08/2009 to 01/2014</time></span>
		</header>
	</article>
	<article>
		<header>
		<h1>BSc in Computer Science</h1>
		<span><a href="https://www.technikum-wien.at/en/">University of Applied Sciences Technikum Wien</a></span>
		<span><address>Vienna, Austria</address><time>08/2006 to 04/2009</time></span>
		</header>
	</article>
</section>
