<section class="thirteen columns">
    <h1>Positions</h1>
    
    
    <article>
        <header>
            <h1>PhD Candidate</h1>
            <span>Technical University of Graz, Graz, Austria &mdash; 09/2015 to Present</span>
        </header>
        <p>Graduate School for Computer Science</p>
	</article>
	
	<article>
        <header>
            <h1> Research Associate</h1>
            <span>Austrian Research Institute for Artificial Intelligence (OFAI), Vienna, Austria &mdash; 04/2015 to Present</span>
        </header>
	</article>
  
    <article>
        <header>
            <h1>Research Associate</h1>
            <span>VRVis Research Center, Vienna, Austria &mdash; 01/2009 to 01/2015</span>
        </header>
	</article>
</section>
