<section class="thirteen columns">
	<h1>Positions</h1>
	<article>
		<header>
		<h1>Research Associate</h1>
		<span><a href="http://ofai.at">Austrian Research Institute for Artificial Intelligence (OFAI)</a></span>
		<span><address>Vienna, Austria</address><time>04/2015 to present</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Visiting Researcher</h1>
			<span><a href="http://learning.eng.cam.ac.uk/Public/">CBL Lab of University of Cambridge</a></span>
			<span><address>Cambridge, UK</address><time>11/2017 to 01/2018</time></span>
		</header>
	</article>
	<article>
		<header>
			<h1>Project Assistent</h1>
			<span><a href="https://www.spsc.tugraz.at/">SPSC Lab of Technical University of Graz</a></span>
			<span><address>Graz, Austria</address><time>05/2017 to 04/2018</time></span>
		</header>
	</article>
	<article>
		<header>
		<h1>Research Associate</h1>
		<span><a href="http://vrvis.at">VRVis Research Center</a></span>
		<span><address>Vienna, Austria</address><time>01/2009 to 01/2015</time></span>
		</header>
	</article>
</section>
