<section class="thirteen columns">
    <h1>Journal Articles</h1>
    
        <article>
        <p>M. Skowron, <em>M. Trapp</em>, S. Payr, R. Trappl: Automatic Identification of Character Types from Film Dialogs, <span style="text-decoration: underline;">Applied Artificial Intelligence</span>, 30(10):942--973, 2016. <a href="http://www.tandfonline.com/doi/pdf/10.1080/08839514.2017.1289311">[pdf]</a></p>
	</article>
       
        <article>
        <p><em>M. Trapp</em>, F. Schulze, A. A. Novikov, L. Tirian, B. J. Dickson and K. B&uuml;hler: Adaptive and Background-Aware GAL4 Expression Enhancement of Co-registered Confocal Microscopy Images, <span style="text-decoration: underline;">Neuroinformatics</span>, 14(2):1--13, 2016. <a href="http://dx.doi.org/10.1007/s12021-015-9289-y">[pdf]</a></p>
	</article>
	
	<article>
        <p><em>M. Trapp</em>, F. Schulze, K. B&uuml;hler, T. Liu and B. J. Dickson: 3D Object Retrieval in an Atlas of Neuronal Structures. <span style="text-decoration: underline;">The Visual Computer</span>, 29(12):1--11, 2013. <a href="http://link.springer.com/article/10.1007%2Fs00371-013-0871-8">[pdf]</a> </p>
	</article>

    <h1>Conference Papers (Peer-Reviewed)</h1>
	<article>
	<p><em>M. Trapp</em>, T. Madl, R. Peharz, F. Pernkopf, R. Trappl: Safe Semi-Supervised Sum-Product Networks. <span style="text-decoration: underline;">33rd Conference on Uncertainty in Artificial Intelligence (UAI)</span>, 2017.</p>
	</article>
	
    <article>
	<p>D. Schabus, M. Skowron, <em>M. Trapp</em>: One Million Posts: A Data Set of German Online Discussions. <span style="text-decoration: underline;">International Conference on Research and Development in Information Retrieval (SIGIR)</span>, 2017.</p>
	</article>
    
    <h1>Talks</h1>
	<article>
        <p>Invited panellist at the Practical Bayesian Nonparametrics Workshop at the 30th Annual Conference on Neural Information Processing Systems (NIPS) in 2016</p>
	</article>
	
    <h1>Workshop Papers (Peer-Reviewed)</h1>
	<article>
    <p><em>M. Trapp</em>, R. Peharz, M. Skowron, T. Madl, F. Pernkopf and R. Trappl: Structure Inference in Sum-Product Networks using Infinite Sum-Product Trees. <span style="text-decoration: underline;">Practical Bayesian Nonparametrics Workshop at the Annual Conference on Neural Information Processing Systems (NIPS)</span>, 2016.<a href="https://drive.google.com/open?id=0B3WHb3BabixAVWFVaDEzdThSbk0">[pdf]</a></p>
	</article>
    
    <article>
    <p><em>M. Trapp</em>: BNP.jl: Bayesian nonparametrics in Julia. <span style="text-decoration: underline;">Bayesian Nonparametrics: The Next Generation Workshop at the Annual Conference on Neural Information Processing Systems (NIPS)</span>, 2015. <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxuaXBzYm5wMjAxNXxneDo3ZDM0ZmNjNjgwNzhlNTA2">[pdf]</a> | <a href="https://github.com/trappmartin/BNP.jl">[code]</a></p>
	</article>
    
    <article>
	<p>F. Schulze, <em>M. Trapp</em>, K. B&uuml;hler, T. Liu, B. J. Dickson: Similarity Based Object Retrieval of Composite Neuronal Structures. <span style="text-decoration: underline;">Eurographics Workshop on 3D Object Retrieval</span>, 2012.<a href="https://www.vrvis.at/publications/pdfs/PB-VRVis-2012-012.pdf">[pdf]</a></p> 
	</article>
	
    <h1>Posters Presentations</h1>
	<article>
    Infinite Sum-Product Networks. <span style="text-decoration: underline;">Conference on Bayesian nonparametrics (BNP 11)</span>, 2017.
	</article>
       	
	<article>
    Structure Inference in Sum-Product Networks using Infinite Sum-Product Trees. <span style="text-decoration: underline;">Practical Bayesian Nonparametrics Workshop at the Annual Conference on Neural Information Processing Systems (NIPS)</span>, 2016.
	</article>

    <article>
    BNP.jl: Bayesian nonparametrics in Julia. <span style="text-decoration: underline;">Bayesian Nonparametrics: The Next Generation Workshop at the Annual Conference on Neural Information Processing Systems (NIPS)</span>, 2015.
	</article>
	
	<article>
    BrainImage - Retrieval of globally and locally similar confocal images of the Drosophila central nervous system. <span style="text-decoration: underline;">Neurobiology of Drosophila Meeting at Cold Spring Harbor Laboratory</span>, 2013.
	</article>
	
	<article>
    BrainNeuron - Retrieval of globally and locally similar segmented neuronal representations in Drosophila. <span style="text-decoration: underline;">Neurobiology of Drosophila Meeting at Cold Spring Harbor Laboratory</span>, 2013.
	</article>
</section>

<section class="thirteen columns">
    <h1>Misc</h1>
	<article>
        <p>Invited panellist at the Practical Bayesian Nonparametrics Workshop at the 30th Annual Conference on Neural Information Processing Systems (NIPS) in 2016</p>
	</article>
</section>
	
