<section class="thirteen columns">
	
	<h1>Preprints</h1>
	<article>
        <p>Robert Peharz, Antonio Vergari, Karl Stelzner, Alejandro Molina, <em>Martin Trapp</em>, Kristian Kersting, Zoubin Ghahramani. <a href="https://arxiv.org/abs/1806.01910"><span style="text-decoration: underline;">Probabilistic Deep Learning using Random Sum-Product Networks</span></a>. ArXiv, 2018.</p>
	</article>
	
    <h1>Journal Articles</h1>
    <article>
        <p>Sabine Payr, Marcin Skowron, Anna Dobrosovestnova, <em>Martin Trapp</em> and Robert Trappl. <a href="ihttps://doi.org/10.1080/01969722.2017.1407282"><span style="text-decoration: underline;">Strategic Talk in Film</span></a>. <span style="font-style: italic;">Cybernatics and Systems</span>, 48(8):576--596, 2017</p>
	</article>
        <article>
        <p>Marcin Skowron, <em>Martin Trapp</em>, Sabine Payr, Robert Trappl. <a href="http://www.tandfonline.com/doi/pdf/10.1080/08839514.2017.1289311"><span style="text-decoration: underline;">Automatic Identification of Character Types from Film Dialogs</span></a>. <span style="font-style: italic;">Applied Artificial Intelligence</span>, 30(10):942--973, 2016</p>
	</article>
        <article>
        <p><em>Martin Trapp</em>, Florian Schulze, Alexey A. Novikov, Laslo Tirian, Barry J. Dickson and Katja B&uuml;hler. <a href="http://dx.doi.org/10.1007/s12021-015-9289-y"><span style="text-decoration: underline;">Adaptive and Background-Aware GAL4 Expression Enhancement of Co-registered Confocal Microscopy Images</span></a>. <span style="font-style: italic;">Neuroinformatics</span>, 14(2):1--13, 2016.</p>
	</article>
	<article>
        <p><em>Martin Trapp</em>, Florian Schulze, Katja B&uuml;hler, Tianxiao Liu and Barry J. Dickson. <a href="http://link.springer.com/article/10.1007%2Fs00371-013-0871-8"><span style="text-decoration: underline;">3D Object Retrieval in an Atlas of Neuronal Structures</span></a>. <span style="font-style: italic;">The Visual Computer</span>, 29(12):1--11, 2013.</p>
	</article>

    <h1>Conference Papers (Peer-Reviewed)</h1>
	<article>
        <p><em>Martin Trapp</em>, Tamas Madl, Robert Peharz, Franz Pernkopf, Robert Trappl. <a href="http://auai.org/uai2017/proceedings/papers/108.pdf"><span style="text-decoration: underline;">Safe Semi-Supervised Learning of Sum-Product Networks</span></a>. In Proceedings of <span style="font-style: italic;">Conference on Uncertainty in Artificial Intelligence (UAI)</span>, 2017.</p>
	</article>
    	<article>
        <p><em>Martin Trapp</em>, Marcin Skowron, Dietmar Schabus. <a href="https://dl.acm.org/citation.cfm?id=3121084&CFID=814382275&CFTOKEN=38449639"><span style="text-decoration: underline;">Retrieving Compositional Documents using Position-Sensitive Word Mover's Distance</span></a>. In Proceedings of <span style="font-style: italic;">ACM International Conference on the Theory of Information Retrieval (ICTIR)</span>, 233--236, 2017.</p>
	</article>
    	<article>
        <p>Dietmar Schabus, Marcin Skowron, <em>Martin Trapp</em>. <a href="https://dl.acm.org/citation.cfm?id=3080711"><span style="text-decoration: underline;">One Million Posts: A Data Set of German Online Discussions</span></a>. In Proceedings of <span style="font-style: italic;">ACM International Conference on Research and Development in Information Retrieval (SIGIR)</span>, 1241--1244, 2017.</p>
	</article>
    
    <h1>Workshop Papers (Peer-Reviewed)</h1>
	<article>
	<p>Brigitte Krenn, <em>Martin Trapp</em>, Stephanie Gross, Friedrich Neubarth. <a href="https://www2.informatik.uni-hamburg.de/wtm/WorkshopCrossmodalLearning2017/papers/Krenn_Final.pdf"><span style="text-decoration: underline;">Crossmodal Cross-situational Learning with Attention</span></a>. <span style="font-style: italic;">Workshop on Computational Models for Crossmodal Learning at ICDL-EPIROB</span>, 2017.</p>
	</article>
    	<article>
    	<p><em>Martin Trapp</em>, Robert Peharz, Marcin Skowron, Tamas Madl, Franz Pernkopf and Robert Trappl. <a href="https://drive.google.com/open?id=0B3WHb3BabixAVWFVaDEzdThSbk0"><span style="text-decoration: underline;">Structure Inference in Sum-Product Networks using Infinite Sum-Product Trees</span></a>. <span style="font-style: italic;">Practical Bayesian Nonparametrics Workshop at NIPS</span>, 2016.</p>
	</article>
    	<article>
    	<p><em>Martin Trapp</em>. <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxuaXBzYm5wMjAxNXxneDo3ZDM0ZmNjNjgwNzhlNTA2"><span style="text-decoration: underline;">BNP.jl: Bayesian nonparametrics in Julia</span></a>. <span style="font-style: italic;">Bayesian Nonparametrics: The Next Generation Workshop at NIPS</span>, 2015.</p>
	</article>
    	<article>
	<p>Florian Schulze, <em>Martin Trapp</em>, Katja B&uuml;hler, Tianxiao Liu, Barry J. Dickson. <a href="https://www.vrvis.at/publications/pdfs/PB-VRVis-2012-012.pdf"><span style="text-decoration: underline;">Similarity Based Object Retrieval of Composite Neuronal Structures</span></a>. <span style="font-style: italic;">Workshop on 3D Object Retrieval at Eurographics</span>, 2012.</p> 
	</article>
    
    <h1>Talks</h1>
	<article>
        Infinite Sum-Product Networks. Conference on Bayesian nonparametrics (BNP 11), 2017.
	</article>
	<article>
        Software Panel at the Practical Bayesian Nonparametrics Workshop at the Annual Conference on Neural Information Processing Systems (NIPS) in 2016
	</article>

    <h1>Code</h1>
	<article>
        <a href="https://github.com/trappmartin/SSLSPN_UAI2017">Safe Semi-Supervised Learning of Sum-Product Networks</a> (2017)
	</article>
	<article>
        <a href="https://github.com/trappmartin/PWMD_ICTIR2017">Retrieving Compositional Documents using Position-Sensitive Word Mover's Distance</a> (2017)
	</article>
	<article>
        <a href="https://github.com/OFAI/BayesianNonparametrics.jl">BNP.jl: Bayesian nonparametrics in Julia</a> (2015)
	</article>
	
    <h1>Posters</h1>
	<article>
    	BrainImage - Retrieval of globally and locally similar confocal images of the Drosophila central nervous system. Presented at <span style="font-style: italic;">Neurobiology of Drosophila Meeting at Cold Spring Harbor Laboratory</span>, 2013.
	</article>
	<article>
    	BrainNeuron - Retrieval of globally and locally similar segmented neuronal representations in Drosophila. Presented at <span style="font-style: italic;">Neurobiology of Drosophila Meeting at Cold Spring Harbor Laboratory</span>, 2013.
	</article>
</section>
	
