<section class="thirteen columns">
    <h1>Publications</h1>
    
    <h1>2016</h1>
    
    <article>
        <p><em>Trapp M.</em>, Peharz R., Skowron M., Madl T., Pernkopf F. and Trappl R.: Structure Inference in Sum-Product Networks using Infinite Sum-Product Trees. <span style="text-decoration: underline;">Practical Bayesian Nonparametrics Workshop at the 30th Annual Conference on Neural Information Processing Systems (NIPS)</span>, 2016.</p>
	</article>
    
    <article>
        <p><em>Trapp M.</em>, Schulze F., Novikov A. A., Tirian L., Dickson B. J. and Bühler K.: Adaptive and Background-Aware GAL4 Expression Enhancement of Co-registered Confocal Microscopy Images, <span style="text-decoration: underline;">Neuroinformatics</span>, (pp. 1-13), 2016. <a href="http://dx.doi.org/10.1007/s12021-015-9289-y">[pdf]</a></p>
	</article>
	
	<h1>2015</h1>
    <article>
        <p><em>Trapp M.</em>: BNP.jl: Bayesian nonparametrics in Julia. <span style="text-decoration: underline;">Bayesian Nonparametrics: The Next Generation Workshop at the 29th Annual Conference on Neural Information Processing Systems (NIPS)</span>, 2015. <a href="https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxuaXBzYm5wMjAxNXxneDo3ZDM0ZmNjNjgwNzhlNTA2">[pdf]</a> | <a href="https://github.com/trappmartin/BNP.jl">[code]</a></p>
	</article>
	
	<h1>2013</h1>
	
	<article>
        <p><em>Trapp M.</em>, Schulze F., Bühler K., Liu T. and Dickson B. J.: 3D Object Retrieval in an Atlas of Neuronal Structures. <span style="text-decoration: underline;">The Visual Computer</span>, (pp. 1-11), 2013. <a href="http://link.springer.com/article/10.1007%2Fs00371-013-0871-8">[pdf]</a>
    </article>
</section>
