<section class="thirteen columns">
    <h1>Research</h1>
    <article>
    <p>
My research focuses on understanding and utilising machine learning. 
In particular, I'm interested the deep probabilistic architecture called <a href="https://github.com/arranger1044/awesome-spn">sum-product networks</a> and related tractable probabilistic models. 
For learning tractable probabilistic models I explore approaches based on Bayesian learning, Bayesian nonparametrics and deep learning.
My PhD is supervised by <a href="https://www.spsc.tugraz.at/people/franz-pernkopf">Franz Pernkopf</a> and in cooperation with <a href="https://rpeharz.wordpress.com">Robert Peharz</a>.
	</p>
	<p>
During my work I publish all my developed software as open source software packages written in <a href="https://julialang.org">Julia</a>.
As a result, I created several open source projects including: <a href="https://github.com/OFAI/BayesianNonparametrics.jl">BayesianNonparametrics.jl</a>, <a href="https://github.com/trappmartin/SumProductNetworks.jl">SumProductNetworks.jl</a>
Since spring 2018 I'm a core developer of the probabilistic programming language <a href="https://github.com/yebai/Turing.jl">Turing.jl</a> originaly created and now managed by <a href="http://mlg.eng.cam.ac.uk/hong/">Hong Ge</a> at the University of Cambridge. 
	</p>
    </article>
</section>
